.logoImage {
  margin: auto;
  width: 500px;
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

.logoImage > img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .logoImage {
    width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .logoImage {
    width: 100%;
  }
}
